// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-form {

  &-wrapper {
    padding: 50px 160px;
  }
  &__title {

  }
  > .field {
    width: 400px;
    &_name {}
    &_tel {}
    &_msg {}
  }
  > .form-bottom {
    > .check {

    }
    > .btn {
      width: 400px;
    }
  }
}