// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.stages-sect {
  padding-top: 50px;
  // padding-bottom: 50px;
  &__title {
    font-size: 30px;
  }
  &__subtitle {

  }
  &__stages {

  }
  &__footnote {
    margin: 30px 0 50px;
    &-title {
      font-size: 20px;
    }
    &-descr {
      margin-top: 0;
      font-size: 20px;
    }
  }
}

.stages_circle {

  > .stage {

    > .stage__number {

    }
    > .stage__title {

    }
    > .stage__descr {

    }
  }
}

.stages_numbers {

  > .stage {
    max-width: 450px;
    > .stage__number {

    }
    > .stage__title {
      font-size: 20px;
    }
    > .stage__descr {
      font-size: 15px;
    }
  }
}