// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.stages-sect {
  padding-top: 35px;
  // padding-bottom: 35px;
  color: $black;
  &__title {
    // max-width: 200px;
    margin: 0 auto 45px;
    font: bolder 22px/145% IntroBlack;
    text-transform: uppercase;
    text-align: center;
  }
  &__subtitle {

  }
  &__stages {

  }
  &__footnote {
    margin-bottom: 35px;
    &-title {
      font: 17px/141% Ubuntu;
      text-transform: uppercase;
      color: $red;
    }
    &-descr {
      margin-top: 5px;
      font: 17px/141% Ubuntu;
    }
  }
}
.stages__figure {
  display: none;
}

.stages_circle {
  max-width: 360px;
  margin: auto;
  text-align: center;
  > .stage {
    margin-bottom: 50px;
    .stage__number {
      display: block;
      margin-bottom: 8px;
      font: bolder 55px/100% IntroBlack;
      transition: color .5s;
    }
    > .stage__title {
      margin-bottom: 15px;
      font: 500 14px/143% Ubuntu;
      text-transform: uppercase;
      color: $blue;
    }
    > .stage__descr {
      font: 300 14px/143% Ubuntu;
    }
  }
}

.stages_numbers {
  > .stage {
    margin: 0 auto 35px;
    max-width: 275px;
    display: flex;
    flex-flow: column;
    > .stage__number-wrap {
      padding-bottom: 5px;
      border-bottom: 3px solid $medium-gray;
    }
    .stage__number {
      display: inline-block;
      width: 100%;
      height: 75px;
      color: $blue;
      font: bold 120px/100% Ubuntu;
      overflow: hidden;
    }
    > .stage__title {
      margin-top: 20px;
      font: 17px/141% Ubuntu;
    }
    > .stage__descr {
      margin-top: 20px;
      font: 300 14px/143% Ubuntu;
    }
  }
}