// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.stages-sect {

  &__title {}

  &__subtitle {}

  &__descr {
    max-width: 860px;
  }

  &__stages {}

  &__footnote {
    padding: 0 120px;
  }
}

.stages_circle {
  grid-template-rows: 1fr auto auto;
  grid-template-columns: auto 30px 1fr 30px auto;

  >.stage {

    >.stage__number {}

    >.stage__title {}

    >.stage__descr {}
  }
}

.stages_circle.childs-5 {
  >.stage-1 {
    grid-row: 1;
    grid-column: 1;
    // text-align: left;
  }

  >.stage-2 {
    grid-row: 1;
    grid-column: 5;
    text-align: left;
  }

  >.stage-3 {
    grid-row: 2;
    grid-column: 5;
    text-align: left;
    // text-align: center;
  }

  >.stage-4 {
    grid-row: 3;
    grid-column: 3;
    text-align: center;
  }

  >.stage-5 {
    grid-row: 2;
    grid-column: 1;
  }
}

.stages_circle.childs-4 {
  >.stage-1 {
    grid-column: 1;
  }

  >.stage-2 {
    grid-column: 5;
  }

  >.stage-3 {
    grid-column: 5;
    text-align: left;
  }
  >.stage-4 {
    grid-column: 1;
    text-align: right;
  }
}

.stages_circle.childs-3 {
  >.stage-1 {
    grid-row: 1;
    grid-column: 5;
    text-align: left;
  }

  >.stage-2 {
    grid-row: 3;
    grid-column: 3;
    text-align: center;
  }

  >.stage-3 {
    grid-row: 1;
    grid-column: 1;
  }
}

.stages {
  &__figure {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-row: 1/span 2;
    grid-column: 3;
    width: 480px;
    height: 480px;
  }

  &__img {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    opacity: 0;
    transition: opacity .5s;

    &.img-0 {
      opacity: 1;
    }
  }
}



.stages_numbers {
  &.childs-2 {
    padding: 0 50px;
  }

  >.stage {
    max-width: 360px;

    >.stage__number {}

    >.stage__title {}

    >.stage__descr {}
  }
}