// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.menu {
  &__cnt {
  }
  &__logo {
  }
  &__logo-img {
  }
  &__buttons {
  }
  &__callback {
  }
  &__whatsapp {
  }
  &__phones {
  }
  &__email {
  }
  &__address {
  }
  &__link-geo {
  }
  &__link-mailto {
  }
  &__link-sitemap {
  }
}
.callback-btn {
  &__img {
  }
}
.whatsapp-btn {
  &__img {
  }
}
