// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';


.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  background: transparentize($black, .25);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  overflow: auto;
  z-index: 5;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    padding: 15px 15px 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $white;
    color: $black;
  }
  &__close {
    margin: -5px -5px 15px auto;
    width: 20px;
    height: 20px;
    padding: 2.5px;
    transition: fill .4s;
    fill:  $light;
    &:active {
      transform: scale(.95);
    }
    > .close__icon{
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-bottom: 5px;
    font: bolder 22px/140% IntroBlack;
    text-transform: uppercase;
    text-align: center;

  }
  &__subtitle {
    font: 500 14px/160% Ubuntu;
    text-transform: uppercase;
    text-align: center;
    color: $blue;
  }
  &__descr {
    font: 14px/150% Ubuntu;
    text-align: center;
  }
}