// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

body {
  background: $background;
  &.no-scroll {
    overflow: hidden;
  }
}

[class*=website] {
  display: none !important;
  visibility: hidden !important;
}

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  &.active {
    display: block;
  }
}

.nav__list-item {
  &.current {
    cursor: not-allowed;
    > .nav__link {
      pointer-events: none;
      > .nav__link-text {
        border-bottom: 1px solid;
      }
    }
  }
}

.sect {

  &_bg {

  }
  &-title {
    font: 500 18px/133% Ubuntu;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }
  &-descr {

  }
}

.page {
  &-title {
    font: bolder 22px/145% IntroBlack;
    text-align: center;
    text-transform: uppercase;
  }
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response,
.hidden {
  display: none !important;
}

.text_red {
  color: $red;
}

.text_blue {
  color: $blue;
}

.phones {
  display: flex;
  flex-flow: column;
}

.tel {
  display: inline-block;
  font: bold 32px/100% Ubuntu;
  color: $black;
  &-1 {
    margin-bottom: 5px;
  }
  &__code {
    padding-right: 5px;
    font: 16px/150% Ubuntu;
    vertical-align: super;
    color: $red;
  }
  &__number {
    transition: color .35s;
  }
  &__sign {
    display: block;
    font: 12px/200% Ubuntu;
    text-align: right;
    color: $dark;
  }
}

.address,
.email {
  color: $black;
  font: 16px/150% Ubuntu;
}

.email {
  &__link {
    color: $blue;
    transition: color .35s;
  }
}

[tabindex="-1"] {
  cursor: default;
  &:focus {
    outline: 0;
  }
}

.link {
  display: flex;
  align-items: center;
  font: 300 14px/100% Ubuntu;
  color: $dark;
  border-bottom-color: $dark;
  &__img {
  }
  &__text {
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    transition: border-bottom-color .35s;
  }
}

.link__img,
.callback-btn__img,
.whatsapp-btn__img {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.callback-btn,
.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: $btn_light;
  border-radius: 40px;
  transition: fill .35s, color .35s;
}