// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-sect {
  &__title {
  }
  &__list-title {
  }
  &__list {
  }
  &__list-item {
  }
  &__descr {
    font-size: 15px;
  }
}