// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.page-sect {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 220px 30px 690px;
  &__title {
    margin-bottom: 50px;
    grid-row: 1;
    grid-column: 1/span 3;
  }
  &__left {
    grid-row: 2;
    grid-column: 1;
  }
  &__btn {
    margin-bottom: 50px;
    width: 220px;
    height: 64px;
  }
  &__right {
    margin: 0;
    grid-row: 2;
    grid-column: 3;
  }
}

.faq {
  &__question {
    &-img {
    }
  }
  &__answer {
  }
  &.active {
    > .faq__question {
      > .faq__question-img {
      }
    }
  }
}
