// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

$btn_left_padding: 45px;
$caret_width: 16px;
$caret_margin_left: 30px;

.faq-sect {
  &__title {
    margin-bottom: 35px;
  }
  &__left {
  }
  &__btn {
    margin: 0 auto 0 0;
  }
  &__right {
    margin-top: 70px;
  }
}

.faq {
  margin-bottom: 40px;
  font-size: 18px;
  &__question {
    padding: 20px $btn_left_padding;
    width: 100%;
    &-img {
      margin-right: $caret_margin_left;
    }
  }
  &__answer {
    padding: 20px 0 20px;
    padding-left: $btn_left_padding + $caret_width + $caret_margin_left;
    font-size: 16px;
    line-height: 150%;
  }
  &.active {
    > .faq__question {
      > .faq__question-img {
      }
    }
  }
}
