// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.procedures-sect {
  padding-top: 50px;
  padding-bottom: 50px;
  &__title {
  }
  &__descr {
    &.left {
    }
    &.right {
    }
  }
  // &__list-title {
  //   font-size: 19px;
  // }
}