// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.features-sect {

  &__title {
    max-width: 600px;
  }
  &__features {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
  }
  &__descr {
    margin: 45px 0 50px;
    font-size: 15px;
  }
}

.feature {
  max-width: 300px;
  &__img {

  }
  &__title {

  }
  &__descr {
    font-size: 16px;
  }
  &.odd {
    margin-right: auto;
  }
}
