// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.features-sect {
  padding-top: 50px;
  padding-bottom: 50px;
  &__title {
    max-width: none;
  }
  &__features {

  }
}

.feature {
  margin-top: 50px;
  font-size: 16px;
  &__img {
    margin-bottom: 30px;
  }
  &__title {

  }
  &__descr {
    font-size: 15px;
  }
}
