// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-sect {
  padding-bottom: 50px;
  font-size: (24px - 14px) / 2 + 14px;
  &__slider {
    width: 100%;
    margin-left: 0;
  }
  &__slide {
    padding: 45px 45px 50px;
    border-radius: 4px 4px 0 0;
    &.slick-slide {
      width: 536px;
      &:nth-last-child(n+2) {
        margin-right: 0;
        // margin-right: responsive('576->767', '20->115')
      }
    }
  }
  &__dots {
    position: static;
    margin: 0 0 0 auto;
  }
  &__heading {
    margin: 20px auto 30px;
    font-size: 35px;
  }
  &__title {
    max-width: 418px;
    font-size: (38px - 22px) / 2 + 22px;
  }
  &__subtitle {
    width: auto;
    max-width: 415px;
    font-size: 22px;
  }
  &__list {
  }
  &__list-item {
    
    &.last {

    }
    
  }

  &__sublist {
    &-item {
      max-width: 480px;
      &::before {
        margin: 11px 20px 0 0;
        width: 40px;
      }
    }
  }

  &__comment {
    margin-left: 60px;
  }

  &__form-wrapper {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 45px;
    border-radius: 0 0 4px 4px;
    // box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  }
  &__sign {
    font-size: 20px;
  }
  &__form {
 
    > .field {
      font-size: 16px;
      &_name {

      }
      &_tel {

      }
    }
    .field__text {
      &.required {

      }
    }
    .field__inp {

    }
    > .form-bottom {

    }
    .check {

    }
    .btn {

    }
  }
}