// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-sect {
  padding-top: 35px;
  padding-bottom: 35px;
  color: $black;
  &__title {
    margin-bottom: 30px;
    font: bolder 22px/145% IntroBlack;
    text-align: center;
    text-transform: uppercase;
  }
  &__contacts {
  }
}

#contacts-sect__map {
  width: 100vw;
  height: 450px;
  margin-left: -15px;
}

.contacts {
  &__title {
    margin-bottom: 20px;
    font: 500 14px/100% Ubuntu;
    text-transform: uppercase;
    color: $dark;
  }
  &__address {
    margin-bottom: 10px;
  }
  &__email {
  }
  &__phones {
  }
}

.contacts,
.contacts__phones {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}