// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-sect {
  padding-top: 35px;
  padding-bottom: 35px;
  &__title {
    margin-bottom: 35px;
    // font-size: 33px;
  }
  &__contacts {
    display: flex;
  }
}

#contacts-sect__map {
  width: 100%;
  margin: 0;
}

.contacts {
  margin: 50px auto 0 0;
  max-width: 225px;
  align-items: flex-start;
  text-align: left;
  &__title {
    margin-bottom: 25px;
    font-size: 18px;
  }
  &__address {
  }
  &__email {
  }
  &__phones {
    margin-top: 50px;
    align-items: flex-start;
  }
}

.contacts,
.contacts__phones {

}