// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.quiz-sect {
  &__title {}

  &__subtitle {}

  &__quiz {
    // min-height: 668px;
    padding: 55px 85px 80px 80px;
    &.final-step {
      > .quiz__footer {
        > .quiz__prev {
          margin: -50px 104px 0 auto;
        }
      }
    }
  }
}

.quiz__body,
.quiz-sect__quiz>.wpcf7 {
  margin: 70px 0;
  width: 55%;
}

.quiz {
  &__header {}

  &__heading-block {}

  &__steps-counter {}

  &__current-steps-number {}

  &__total-steps-number {}

  &__dots {}

  &__body {
  }

  &__step {}

  &__step-1 {}

  &__step-title {}

  &__inputs {}

  &__radio {}

  &__radio-inp {}

  &__radio-pseudo-inp {}

  &__radio-label {}

  &__step-2 {}

  &__text {}

  &__text-inp {}

  &__text-label {}

  &__step-3 {}

  &__select {}

  &__select-select {}

  &__step-4 {}

  &__extra-field {}

  &__step-5 {}

  &__final-step {}

  &__form {
    >.field {
      max-width: 250px;
      &_name {}
      &_tel {}
    }
    .field {
      &__text {}
      &__inp {}
    }
    >.form-bottom {
    }
    .check {
      margin: 0;
      &__inp {}
      &__pseudo-inp {}
      &__text {}
      &__link {}
    }
    .btn {
      margin: 0;
      max-width: 250px;
    }
  }

  &__footer {
    width: 55%;
    &.hidden {
      display: block !important;
      opacity: 0;
    }
  }

  &__next {
    // margin: 0 0 0 auto;
  }

  &__img {
    margin-top: 55px;
    width: auto;
    height: auto;
    // margin: 45px 0 0 70px;
  }
}