// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.quiz-sect {
  &__title {
    margin: 30px 0 10px;
    font-size: 55px;
    line-height: 110%;
    max-width: none;
  }

  &__subtitle {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 100%;
    max-width: none;
  }

  &__quiz {
    padding: 80px 55px;
  }
}

.quiz {
  &__header {}

  &__heading-block {}

  &__steps-counter {
    font-size: 30px;
  }

  &__current-steps-number {}

  &__total-steps-number {}

  &__dots {}

  &__dot {
    margin-right: 24px;
  }

  &__body {}

  &__step {}

  &__step-1 {}

  &__step-title {
    font-size: 24px;
  }

  &__img {
    display: block;
    margin: 55px auto 0;
  }

  &__inputs {
    margin: 55px auto 0 0;
    max-width: none;
    flex-flow: row wrap;
  }

  &__radio {
    margin: 0 40px 50px 0;
  }

  &__radio-group-title {
    width: 100%;
  }

  &__radio-inp {}

  &__radio-pseudo-inp {}

  &__radio-label {}

  &__step-2 {}

  &__text,
  &__select {
    margin: 0 0 50px;
  }

  &__text-inp {}

  &__text-label {}

  &__step-3 {}

  &__select {}

  &__select-select {}

  &__step-4 {}

  &__extra-field {}

  &__step-5 {}

  &__final-step {}

  &__form {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >.field {
      max-width: 270px;
      margin-bottom: 40px;
      &_name {}
      &_tel {}
    }
    .field {
      &__text {}
      &__inp {}
    }
    >.form-bottom {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .check {
      margin: 0;
      &__inp {}
      &__pseudo-inp {}
      &__text {}
      &__link {}
    }
    .btn {
      max-width: 270px;
      margin: 0;
    }
  }

  &__footer {}

  &__next {
    max-width: 240px;
    margin: 0 0 0 auto;
  }
}