// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.quiz-sect {
  &__title {}

  &__subtitle {}

  &__quiz {
    min-height: 605px;
    padding: 55px 60px 55px 80px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
  }
}

.quiz {
  &__header {
    grid-row: 1;
    grid-column: 1/span 2;
  }

  &__heading-block {}

  &__steps-counter {}

  &__current-steps-number {}

  &__total-steps-number {}

  &__dots {}

  &__body {
    grid-row: 2;
    grid-column: 1;
  }

  &__step {}

  &__step-1 {}

  &__step-title {}

  &__inputs {
    margin-top: 65px;
    flex-flow: column;
  }

  &__radio {
    margin: 0 0 30px;
  }

  &__radio-inp {}

  &__radio-pseudo-inp {}

  &__radio-label {}

  &__step-2 {}

  &__text {}

  &__text-inp {}

  &__text-label {}

  &__step-3 {}

  &__select {}

  &__select-select {}

  &__step-4 {}

  &__extra-field {}

  &__step-5 {}

  &__final-step {}

  &__form {
    >.field {
      max-width: 100%;
      margin-bottom: 35px;
      &_name {}
      &_tel {}
    }
    .field {
      &__text {}
      &__inp {}
    }
    >.form-bottom {
      flex-wrap: wrap;
    }
    .check {
      &__inp {}
      &__pseudo-inp {}
      &__text {}
      &__link {}
    }
    .btn {
      max-width: 100%;
      margin: 25px 0 0;
    }
  }

  &__footer {
    grid-row: 3;
    grid-column: 1;
  }

  &__next {
    margin: 30px auto 0 0;
    height: 64px;
  }

  &__img {
    margin: 35px 0 0 55px;
    grid-row: 2/span 2;
    grid-column: 2;
    align-self: center;
  }
}