// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

/* start STYLES FOR LISTS */

  $list_line_width: 40px;
  $list_line_margin_right: 20px;

  .list {
    &-wrap {
      max-width: 1020px;
      margin: 0 auto;
    }
    &-item {
      &::before {
      }
    }
  }

/* end STYLES FOR LISTS */

// .list-sect {
//   &__title {
//   }
//   &__list-wrapper {
//     max-width: 1020px;
//     margin: 0 auto;
//   }
//   &__list-title {
//   }
//   &__list {
//   }
//   &__list-item {
//     &::before {
      
//     }
//   }
// }
// .container {
// }
