// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

$slide_margin_right: 70px;
$slide_width: 180px;
$visible_slides: 2;

.partners-sect {
  &__title {}
}

#partners {
  margin-top: 50px;
}

.partners__img {
  width: $slide_width;
  margin-right: $slide_margin_right;
  &.last {
  }
}

.partners__nav {
}

.partners__prev,
.partners__next {
  > .arrow__svg {
    
  }
}


#partners.slick-slider {
  margin: 50px auto 0;
  max-width: $slide_width * $visible_slides + $slide_margin_right * ($visible_slides - 1);
  > .partners__nav {
    // width: calc(100% + 180px);
    // left: -90px;
  }
  > .slick-list {

  }
}
