// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.dots {
  > li {
    &:nth-last-child(n+2) {
      margin-right: 24px;
    }
  }
}

.dots .dot,
.quiz__dot {
  width: 8px;
  height: 8px;
}