// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.hdr__nav-list {
  > .nav__list-item.contains-submenu:hover {
    border-bottom-color: $red;
    &::after {
      transform: rotate(180deg);
    }
    > .sub-menu {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.hdr__nav-list > .nav__list-item.contains-submenu:hover > .sub-menu .nav__link:hover ,
.hdr__nav-list > .nav__list-item:hover,
.side-menu__nav .nav__link:hover,
.tel:hover > .tel__number,
.email__link:hover,
.ftr__dev-link:hover {
  color: $red;
}

.whatsapp-btn:hover,
.callback-btn:hover {
  color: $red;
  fill: $black;
}

.btn:hover {
  background: $red;
}

.check__link:hover,
.link:hover {
  border-bottom-color: transparent;
}

.breadcrumbs__link:hover {
  color: $red;
  border-bottom-color: transparent;
}

.check:hover {
  > .check__pseudo-inp {
    border-color: $dark;
  }
}

.quiz__radio:hover,
.radio:hover {
  > .quiz__radio-pseudo-inp,
  > .quiz__pseudo-inp {
    box-shadow: inset 0 0 0 8px $white;
  }
}

.stages_circle > .stage:hover > .stage__number {
  color: $red;
}

.stages_circle > .stage-1:hover ~ .stages__figure > .img-1 {
  opacity: 1;
  z-index: 1;
}

.stages_circle > .stage-2:hover ~ .stages__figure > .img-2 {
  opacity: 1;
  z-index: 1;
}

.stages_circle > .stage-3:hover ~ .stages__figure > .img-3 {
  opacity: 1;
  z-index: 1;
}

.stages_circle > .stage-4:hover ~ .stages__figure > .img-4 {
  opacity: 1;
  z-index: 1;
}

.stages_circle > .stage-5:hover ~ .stages__figure > .img-5 {
  opacity: 1;
  z-index: 1;
}

.popup__close:hover,
.arrow:hover {
  fill: $blue;
}

.faq__question:hover {
  fill: $black;
  color: $red;
}