// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import '../layouts/about-hero/about-hero.576';
@import '../layouts/about-features/about-features.576';
@import '../layouts/about-consult/about-consult.576';
@import '../layouts/contacts-hero/contacts-hero.576';
@import '../layouts/contacts-feedback/contacts-feedback.576';
@import '../layouts/hero-404/hero-404.576';
@import '../layouts/reviews-hero/reviews-hero.576';
@import '../layouts/faq-hero/faq-hero.576';
