// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import '../layouts/hero/hero.1024';
// @import '../layouts/list/list.1024';
@import '../layouts/quiz/quiz.1024';
@import '../layouts/features/features.1024';
@import '../layouts/advantages/advantages.1024';
@import '../layouts/partners/partners.1024';
@import '../layouts/online-form/online-form.1024';
@import '../layouts/stages/stages.1024';
@import '../layouts/reviews/reviews.1024';
@import '../layouts/about/about.1024';
@import '../layouts/links/links.1024';
@import '../layouts/descr/descr.1024';
@import '../layouts/two_procedures/two_procedures.1024';
@import '../layouts/flexible/flexible.1024';
