// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import '../layouts/hero/hero';
@import '../layouts/list/list';
@import '../layouts/quiz/quiz';
@import '../layouts/features/features';
@import '../layouts/advantages/advantages';
@import '../layouts/partners/partners';
@import '../layouts/online-form/online-form';
@import '../layouts/stages/stages';
@import '../layouts/reviews/reviews';
@import '../layouts/about/about';
@import '../layouts/links/links';
@import '../layouts/descr/descr';
@import '../layouts/two_procedures/two_procedures';
@import '../layouts/flexible/flexible';
