// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import '../layouts/hero/hero.420';
@import '../layouts/list/list.420';
@import '../layouts/quiz/quiz.420';
@import '../layouts/features/features.420';
@import '../layouts/advantages/advantages.420';
@import '../layouts/partners/partners.420';
@import '../layouts/online-form/online-form.420';
@import '../layouts/stages/stages.420';
@import '../layouts/reviews/reviews.420';
@import '../layouts/about/about.420';
@import '../layouts/links/links.420';
@import '../layouts/descr/descr.420';
