// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import '../layouts/hero/hero.1440';
@import '../layouts/list/list.1440';
@import '../layouts/quiz/quiz.1440';
@import '../layouts/features/features.1440';
@import '../layouts/advantages/advantages.1440';
@import '../layouts/partners/partners.1440';
@import '../layouts/online-form/online-form.1440';
@import '../layouts/stages/stages.1440';
@import '../layouts/reviews/reviews.1440';
@import '../layouts/about/about.1440';
@import '../layouts/links/links.1440';
@import '../layouts/descr/descr.1440';
