// assets import
@import 'assets/animations';
@import 'assets/fonts';
@import 'assets/grid';
@import 'assets/reset';
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// blocks import
@import 'general/buttons/buttons';
@import 'general/popups/popups';
@import 'general/sliders/sliders';
@import 'general/forms/forms';
@import 'general/interface/interface';
@import '../layouts/mobile-menu/mobile-menu';
@import '../layouts/header/header';
@import '../layouts/footer/footer';
@import '../layouts/mobile-menu/mobile-menu';
@import '../layouts/overlay/overlay';
@import '../layouts/faq-popup/faq-popup';
@import '../layouts/callback/callback';
@import '../layouts/callback-popup/callback-popup';
@import '../layouts/review-popup/review-popup';
@import '../layouts/thanks-popup/thanks-popup';
