// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  &__contacts {
    margin-top: 35px;
  }
  &__logo {
  }
  &__logo-img {
  }
  &__address {
  }
  &__phones {
    align-self: flex-start;
  }
  &__email {
    margin: 20px 0 0 auto;
  }
  &__buttons {
  }
  &__callback {
  }
  &__whatsapp {
  }
  &__copy {
  }
  &__design {
    margin: 0 0 0 auto;
    display: block;
    grid-row: 1/span 2;
    grid-column: 4;
  }
  &__dev {
    display: flex;
    flex-flow: column;
    grid-row: 3/span 2;
    grid-column: 4;
    text-align: right;
    font: 16px/135% Ubuntu;
    &-link {
      margin: 0 0 0 auto;
      font-weight: 500;
      font-family: SegoeUI;
      color: $blue;
      letter-spacing: 0.02em;
      transition: color .35s;
    }
  }
}

.tel {
  &__code {
  }
  &__number {
  }
  &__sign {
  }
}

.email {
  &__link {
  }
}
.callback-btn {
  &__img {
  }
}
.whatsapp-btn {
  &__img {
  }
}
