// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  &__contacts {
  }
  &__logo {
  }
  &__logo-img {
  }
  &__address {
    max-width: 340px;
    font-size: 16px;
  }
  &__link-geo,
  &__link-mailto,
  &__link-sitemap {
    font-size: 16px;
    white-space: nowrap;
  }
  &__phones {
    margin: 40px 0 0 0;
    align-self: center;
    grid-row: 5;
    grid-column: 1;
    > .tel-1 {
      margin-right: 25px;
    }
  }
  &__email {
    // align-self: end;
    margin: 0 0 35px auto;
    // margin: 40px 0 0 auto;
    // align-self: center;
    grid-column: 2;
    grid-row: 5;
  }
  &__buttons {
    max-width: 260px;
  }
  &__callback {
  }
  &__whatsapp {
    margin-top: 25px;
  }
  &__copy {
    font-size: 16px;
    &::before {
      // width: 90px;
    }
    &-text {
      margin-right: 60px;
    }
  }
  &__dev {
    grid-column: 2;
    grid-row: 5;
    align-self: end;
    // display: flex;
    // flex-flow: column;
    margin: 0 0 5px auto;
  }
}

.tel {
  &__code {
  }
  &__number {
  }
  &__sign {
  }
}

.email {
  &__link {
  }
}
.callback-btn {
  &__img {
  }
}
.whatsapp-btn {
  &__img {
  }
}
