// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  &__contacts {
    margin-top: 35px;
    grid-template-columns: 1.4fr 1fr 1fr .7fr;
  }
  &__logo {
  }
  &__logo-img {
  }
  &__address {
  }
  &__phones {
    align-self: flex-start;
  }
  &__email {
    margin: 20px 0 0 auto;
  }
  &__buttons {
  }
  &__callback {
  }
  &__whatsapp {
  }
  &__copy {
  }
  &__design {
    margin: 0 0 0 auto;
    display: block;
    grid-row: 1/span 2;
    grid-column: 4;
  }
  &__dev {
    
    &-link {
      
    }
  }
}

.tel {
  &__code {
  }
  &__number {
  }
  &__sign {
  }
}

.email {
  &__link {
  }
}
.callback-btn {
  &__img {
  }
}
.whatsapp-btn {
  &__img {
  }
}
