// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.page-sect {
  &__title {}

  &__left {}

  &__btn {}

  &__right {}

}

#about-btn {
  display: none;
}

.sect {
  >.list {
    font-weight: lighter;
  }
  >.list-title {
    font-size: 17px;
  }
}

.about {
  &__title {}

  &__descr {
    font-weight: lighter;

    >.link {
      display: inline;
    }
  }

  &__team-wrap {
    margin: 70px 0 40px;
  }

  &__team-title {}

  &__team-slider {
    width: 100vw;
    margin-left: -15px;
    padding: 0 15px 30px;
    display: flex;
    overflow: auto;
  }
}

.char {
  width: 200px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child:last-child {
    margin: auto;
  }

  &__photo {}

  &__name {
    display: block;
    margin: 20px 0;
  }

  &__position {
    font: 500 14px/143% Ubuntu;
    text-transform: uppercase;
    color: $dark;
  }
}

.number-block {
  display: flex;
  flex-flow: column;
  &.last {
    margin-bottom: 0;
  }
  &__number-wrap {
    padding-bottom: 5px;
    border-bottom: 3px solid $medium-gray;
  }

  &__number {
    display: inline-block;
    width: 100%;
    height: .625em;
    color: $blue;
    font: bold 120px/100% Ubuntu;
    overflow: hidden;
  }

  &__descr {
    margin-top: 20px;
    font: 300 14px/143% Ubuntu;
  }
}

.numbers {
  width: 100vw;
  margin: 40px 0 0 -15px;
  padding: 20px 15px 45px;
  background: $white;
  &__item {
    margin: 0 auto 35px;
    max-width: 275px;
  }
}

.number-block {
  &__number-wrap {}

  &__number {}

  &__descr {}
}

.feats {
  margin: auto;
  max-width: 350px;
  font: 300 14px/143% Ubuntu;

  &__item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.feat {
  display: flex;
  align-items: flex-start;

  &__img {}

  &__text {
    margin-left: 20px;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__descr {
    color: $dark;
  }
}